.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f8f8;
}

.page {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 90%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  background-color: #7A35FF;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #5d28cc;
}

.profile img {
  border-radius: 50%;
}
